
<%- include('common/header') %>
<div class="container">

    


    <h1> Asignaciones de las Personas</h1>


        <% for (let p of result){ %>
            <ul>
                <li class=""><strong><%= p.name%></strong> <br>
                   <% if (p.detalle_tareas) { %>
                    <% for( let i = 0; i < p.detalle_tareas.length; i++ ) { %>
                            <ul>
                                        <li> <%= p.detalle_tareas[i].name %> - <%= p.detalle_tareas[i].location %> - <%= p.detalle_tareas[i].hour %> 
                                            <form method="post" action="./<%= p._id %>/<%= p.detalle_tareas[i].name %>?_method=PATCH">
                                                <button class="btn btn-danger mx-2">DELETE</button>
                                            </form> 

                                            
                                          

                                       
                                    </ul>
                    <% } %>    
                    
                    
                   <% } %>
                   <a class="btn btn-info" href="./new/<%= p._id %>">añadir nueva tarea para persona</a>
                    
                    
                </li>
            </ul>
            <hr>


        <% } %>

       






       

</div>
<%- include('common/footer')%>