
<%- include('common/header') %>
<div class="container">

    <h1>modificar la persona</h1>


    <form action="/personas/<%= data._id %>?_method=PATCH" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" value="<%= data.name %>" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrico</label>
            <input type="email" name="email" value="<%= data.email %>" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="telephone" class="form-label">Telefono</label>
            <input type="number" name="telephone" value="<%= data.telephone %>" class="form-control" id="telephone">
          </div>
       
        
        
        <button type="submit" value="submit" class="btn btn-success">Submit</button> <br><hr>

      </form>
    

    <a class="btn btn-primary" href="../detalle/<%= data._id %>" role="button">Volver a la detalle</a>

       

</div>
<%- include('common/footer')%>